.lead__title {
  margin: 0;
  padding: 64px 0 0 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    padding-top: 56px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__title {
    padding-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    min-width: 288px;
    padding-top: 51px;
    padding-left: calc(16px + ((100vw - 320px)*(24 - 16))/(767 - 320));
    padding-right: calc(16px + ((100vw - 320px)*(24 - 16))/(767 - 320));
    font-size: calc(40px + ((100vw - 320px)*(96 - 40))/(767 - 320));
    line-height: calc(44px + ((100vw/1.6 - 320px/1.6)*(100 - 44))/(767/1.6 - 320/1.6));
  }
}
