.footer__links {
  list-style: none;
  padding-right: 19px;
}

.footer__links:last-child {
  padding-right: 0;
}

@media screen and (max-width: 656px) {
  .footer__links {
    padding: 0 0 32px;
  }

  .footer__links:last-child {
    padding: 0 0 48px;
  }
}
