@media screen and (min-width: 1280px) {
  .place_position_altai {
    padding: 0 0 86px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place_position_altai {
    padding: 0 0 86px;
  }
}

@media screen and (max-width: 656px) {
  .place_position_altai {
    padding: 0 0 52px;
  }
}
