.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding: 34px 0;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 1279px) {
  .intro__text {
    padding: 34px 0 34px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: calc(720px - ((100vw - 767px)*(720 - 690))/(1023 - 767));
    padding-left: calc(24px - ((100vw - 767px)*(24 - 0))/(1023 - 767));
    padding-bottom: 34px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: calc(288px + ((100vw - 320px) * (720 - 288)) / (767 - 320));
    padding-left: calc(16px + ((100vw - 320px)*(24 - 16))/(767 - 320));
    padding-bottom: 34px;
    padding-top: 35px;
  }
}
