.lead__img {
  width: 100%;
  height: 615px;
}

@media screen and (max-width: 1279px) {
  .lead__img {
    width: 100%;
    height: calc(580px + ((100vw/1.6 - 1023px/1.6)*(615 - 580))/(1279/1.6 - 1023/1.6));
  }
}

@media screen and (max-width: 1023px) {
  .lead__img {
    width: 100%;
    height: calc(480px + ((100vw/1.6 - 767px/1.6)*(580 - 480))/(1023/1.6 - 767/1.6));
  }
}

@media screen and (max-width: 767px) {
  .lead__img {
    width: 100vw;
    height: calc(100vw/1.6);
  }
}
