.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  padding: 5px 0 0;
  margin: 0;
  max-width: 720px;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    padding-left: calc(24px - ((100vw - 767px)*(24 - 0))/(1023 - 767));
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: calc(288px + ((100vw - 320px) * (720 - 288)) / (767 - 320));
    font-size: calc(32px + ((100vw - 320px) * (54 - 32)) / (767 - 320));
    line-height: calc(35px + ((100vw / 1.6 - 320px / 1.6) * (58 - 35)) / (767 / 1.6 - 320 / 1.6));
    padding-left: calc(16px + ((100vw - 320px)*(24 - 16))/(767 - 320));
    white-space: pre-line;
  }
}
